In [1]:
db = ["Rohit", " Vikash" , "Ajay" , "raj"]

In [5]:
db[1:3]

[' Vikash', 'Ajay']

In [6]:
type(db)

list

In [11]:
db = [
       [ 1,"Rohit",    33333,    "Ok" ],
       [ 2, "Vikash" ,2222, "ok" ], 
       [ 3 ,"Ajay" , 1111, "good" ] 
     ]

In [13]:
len(db)

3

In [16]:
db[1:]

[[2, 'Vikash', 2222, 'ok'], [3, 'Ajay', 1111, 'good']]

In [17]:
import numpy

In [18]:
a = numpy.array(db)

In [20]:
type(a)

numpy.ndarray

In [21]:
a

array([['1', 'Rohit', '33333', 'Ok'],
       ['2', 'Vikash', '2222', 'ok'],
       ['3', 'Ajay', '1111', 'good']], dtype='<U11')

In [30]:
a[1:3,1:2]

array([['Vikash'],
       ['Ajay']], dtype='<U11')

In [32]:
import cv2

In [33]:
photo = cv2.imread('selfie.png')

In [35]:
type(photo)

numpy.ndarray

In [40]:
photo.shape

(960, 960, 3)

In [41]:
b= photo[100:300]

In [92]:
cv2.imwrite("my.jpg" , b)

True

In [93]:
del cap